body{
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eee;
}
.wrap{
  width: 1100px;
  margin: 0 auto;
}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
.block{
  display: block;
}
.hide{
  display: none;
}
.p,.a{
  font-weight: 400;
}